nav.pagination{
    background-color: transparent;
    width: 100%;
    align-content: center;
  ul.pagination{
    @media (max-width: 500px) {
      padding-left: 2%;
      // clear:both;
      float: left;
      width:auto;
    }
    padding-left: 30%;
    width:80%;
    float: left;
    li.page-item{
        list-style: none;
        a{
            font-size: 1.5rem;
            color: $color-links;
        }        
    }
  }
  ul.page{
    @media (max-width: 500px) {
      // clear:both;
      float: right;
      width:auto;
      align-content: center;
      li{
        a{
            font-size: 1.2rem;
        }
      }
    }
    float: left;
    width:20%;
    li{    
        list-style: none;
        a{
            font-size: 1.5rem;
            color: $color;
            text-decoration: none;
        }
      }
  }
  
}

.postlist{
    div.content{
        div.wrap.hide{
            display: none;
        }
        div.wrap{
            display: inherit;
        }
    }
}
