---
layout: default
---

<!-- Include Data Base  -->
{% include dbase/dbase %}

<!-- --{{site.paginator.total_posts}} -->

{% assign dir_num = page.listdir|size %}
{% assign first_dir = page.listdir[0] %}
{% assign allpost = site.categories[first_dir] %}

{% if dir_num > 1 %}
  {% assign max_dir_num = dir_num|minus:1 %}
  {% for i in (1..max_dir_num) %}
    {% assign dir_i = page.listdir[i] %}
    {% assign allpost = allpost| concat:site.categories[dir_i] %}
  }
  }
  {% endfor %}
{% endif %}


{% assign post_count = allpost | size %}

{% if post_count > dbase.website.paginate %}
{% assign page_num = post_count | plus: 0.0 | divided_by: dbase.website.paginate |ceil %}
{% else %}
{% assign page_num = 1 %}
{% endif %}

<div class="postlist" itemscope="itemscope" itemtype="http://schema.org/Blog">
  
  <div class="row title-description">
    <h1>{{ page.title }}</h1>
    <p>{{ page.msg_qtd[0] }} <strong>{{ post_count }}</strong> {{ page.msg_qtd[1] }} {{ content }} </p>
  </div>
  {% if page.buttons == true %}
  <div class="row meta">
    <div class="col-sm-6">
      <a href="{{ site.url }}{{ site.baseurl }}/{{pageDir}}/tags/">Tags Cloud</a>
    </div>
  </div>
  {% endif %}
  <div class="row content" {% if page_num >1 %} cur_page="1"{% endif %}>    
    {% for post in allpost %}
    
    {% if page_num >1 %}
      {% capture current_index %} {{ current_index | plus: 1 }} {% endcapture %}
      {% assign current_page = current_index | plus: 0.0 | divided_by: dbase.website.paginate | ceil%}
      
    <div class="wrap page{{current_page}} {% if current_page > 1 %} hide{% endif %}" >
    {% else %}
    <div class="wrap" >
    {% endif %}
    
      <div class="time-and-count-comments" datetime="{{ post.date | date:'%Y-%m-%d' }}">        
       <time class="time">
          {{ post.date | date: '%B %d, %Y' }}
        </time>
      </div>
      <div class="url">
        <h1>
          <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>
        {% if post.excerpted %}<p class="excerpted">{{ post.excerpted | strip_html | truncatewords:26 }}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="continue">{{ dbase.website.strings.postlist.continue }}</a></p>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% if page_num >1 %}



<nav aria-label="Page navigation" class="pagination">
  <ul class="pagination">
    <li class="page-item" id ='firstpage'><a class="page-link">First</a></li>
    <li class="page-item" id='pagepre'><a class="page-link" href="#">&lt;&lt;</a></li>
    <li class="page-item" id='pageafter'><a class="page-link" href="#">&gt;&gt;</a></li>
    <li class="page-item" id ='lastpage'><a class="page-link" href="#">Last</a></li>
  </ul>
  <ul class="page">
    <li class="curpage"><a>Page: <i id='curpage' pagemax='{{page_num}}'>1</i></a></li>
  </ul>
  
</nav>

{% endif %}
