---
layout: default
---

<!-- Include Data Base  -->
{% include dbase/dbase %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<!--  Next Version  <div class="readmode">
    <a id="btn-readmode" class="pull-right btn btn-default btn-readmode" href="">Read Mode</a>
  </div> -->
  <div class="row title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="row meta" datetime="{{ page.date | date:'%Y-%m-%d' }}">
    <time class="col-sm-6 datetime">
      {% if site.screen.icons.enable == true %}
        <i class="fa fa-calendar" aria-hidden="true"></i>
      {% endif %}
      <span class="text {% if site.screen.icons.enable == true %} tmargin {% endif %}">{{ page.date | date: '%B %d, %Y' }}</span>
    </time>
    
  </div>
  <div class="row tag-list">
    {% if site.screen.icons.enable == true %}<i class="fa fa-tags" aria-hidden="true"></i>{% else %}Tags: {% endif %}
    {% for tag in page.tags %}
      <a href="{{ '/blog/tags/' | prepend: site.baseurl | prepend: site.url }}/{{ tag }}">{{ tag }}</a>
    {% endfor %}
  </div>
<!--   <div class="row">
    {{ page.content | reading_time }}
    {{page.content | strip_html | strip_newlines | split: "" | size}}
  </div> -->
  <div class="row content">
    {{ content }}
    <div class="col-sm-2 image pull-right"> 
        <img class="avatar-img avata" style='border="0";border-radius: {{ site.avatar.border.radius }}%' src="{{ '/assets/img/author' | prepend: site.baseurl | prepend: site.url }}/{{ dbase.website.author.image }}" alt="" height="32px" width="32px">
    </div>
    
  </div>

<!--   <div class="col-sm-6 post-recent">
  {% if page.previous %}
    <p>prev: <a href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a></p>
  {% endif %}
  {% if page.next %}
    <p>next: <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a></p>
  {% endif %}
</div> -->
</article>
