img[alt~="@x100"]{
    width: 100%;
}

img[alt~="@x90"]{
    width: 90%;
}
img[alt~="@x80"]{
    width: 80%;
}
img[alt~="@x70"]{
    width: 70%;
}
img[alt~="@x60"]{
    width: 60%;
}
img[alt~="@x50"]{
    width: 50%;
}
img[alt~="@x20"]{
    width: 20%;
}
strong{
    background-color: $background-featured;
}

.post .content #markdown-toc{
    li{
        ul{
            list-style:circle;
            list-style-type:circle;
            padding-left: 1.5em;
        }
    }
}